.mainDiv {
  position: fixed;
  width: 50vmin;
  height: 100%;
  z-index: 100;
  left: 0;
  top: 12vmin;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
}

.mainDivActive {
  transform: translateX(0);
}

@media screen and (max-width:760px) {
  .mainDiv {
    top: 18vmin;
  }
}
